<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>PennBook</title>
    </head>

    <body class="welcome-page animated fadeIn">
    <div class="row-welcome" style="background-image: url('img/Post/home-bg.jpg');">
        <div class="row-body">
            <div class="welcome-inner">
                <!-- welcome message -->
                <div class="welcome-message welcome-text-shadow">
                    <div class="welcome-title">
                        Welcome to PennBook
                    </div>

                    <div class="welcome-about">
                        share your memories...connect with others...make new friends!!!
                    </div>
                </div><!-- end welcome message-->
                <!-- register and login form-->
                <div class="welcome-inputs">
                    <div ng-show="clickV" class="panel panel-danger panel-inputs panel-home animated fadeInUp">
                        <div class="panel-heading">
                            <h3 class="panel-title">Login
                              <span class="pull-right">
                                <a ng-click="toggle()" class="btn btn-danger btn-xs btn-panel-home trigger">Register</a>
                              </span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <form>
                                <input ng-model="user.username" type="email" required autocomplete="off" placeholder="email"/>
                                <input ng-model="user.password" type="password" required autocomplete="off" placeholder="password"/>

                                <button ng-click="login(user.username , user.password)" name="login" class="btn btn-danger trigger">Login</button>
                                  <span class="forgot-password-link">
                                    <a href="#">Forgot your password?</a><br>
                                  </span>
                            </form>
                        </div>
                    </div>

                    <div ng-hide="clickV" class="panel panel-danger panel-inputs panel-home animated fadeInUp ">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Register
                      <span class="pull-right">
                        <a ng-click="toggle()" class="btn btn-danger btn-xs btn-panel-home">Login</a>
                      </span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <form>
                                <input ng-model="user.email" type="email" required autocomplete="off" placeholder="email"/>
                                <input ng-model="user.password" type="password" required autocomplete="off" placeholder="password"/>
                                <input ng-model="user.firstname" type="text" required autocomplete="off" placeholder="first name">
                                <input ng-model="user.lastname" type="text"required autocomplete="off" placeholder="last name">
                                <button ng-click="register(user.email,user.password)" name="register" class="btn btn-danger">
                                    <i class="fa fa-user-plus"></i>
                                    Register
                                </button>
                            </form>
                        </div>
                    </div>


                </div><!-- end register and login form -->
            </div>
        </div>
    </div>

    <footer class="welcome-footer">
        <div class="container">
            <p>
            <div class="footer-links">
                <a href="#">Terms of Use</a> |
                <a href="#">Privacy Policy</a> |
                <a href="#">Developers</a> |
                <a href="#">Contact</a> |
                <a href="#">About</a>
            </div>
            Copyright &copy; Company - All rights reserved
            </p>
        </div>
    </footer>
    </body>
    </html>
