<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Sign-Up/Login Form</title>
</head>

<body>

<div class="form">
    <div>
        <div id="signup">
        <h1>Sign Up for Free</h1>

        <form>

        <div class="top-row">
        <div class="field-wrap">
        <label>
        First Name<span class="req">*</span>
        </label>
        <input ng-model="user.firstname" type="text" required autocomplete="off" />
        </div>

        <div class="field-wrap">
        <label>
        Last Name<span class="req">*</span>
        </label>
        <input ng-model="user.lastname" type="text"required autocomplete="off"/>
        </div>
        </div>

        <div class="field-wrap">
        <label>
        Email Address<span class="req">*</span>
        </label>
        <input ng-model="user.email" type="email" required autocomplete="off"/>
        </div>

        <div class="field-wrap">
        <label>
        Set A Password<span class="req">*</span>
        </label>
        <input ng-model="user.password" type="password"required autocomplete="off"/>
        </div>

        <button ng-click="register(user.email,user.password)" class="button button-block">Get Started</button>

        </form>

        </div>

    </div><!-- tab-content -->

</div> <!-- /form -->
</body>
</html>
