
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>PennBook</title>

    <![endif]-->
</head>
<body class="animated fadeIn">

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-principal">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/timeline/{{user._id}}">
                <img src="images/Logo 2.png" class="img-logo">
                <b>PennBook</b>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <div class="col-md-5 col-sm-4">
                <form class="navbar-form">
                    <div class="form-group" style="display:inline;">
                        <div class="input-group" style="display:table;">
                            <input class="form-control" name="search" placeholder="Search..." autocomplete="off" type="text">
              <span class="input-group-addon" style="width:1%;">
                <span class="glyphicon glyphicon-search"></span>
              </span>
                        </div>
                    </div>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="#/about/{{user._id}}">
                        Jonathan Smith
                        <img src="img/Friends/guy-3.jpg" class="img-nav">
                    </a>
                </li>
                <li><a href="#/timeline/{{user._id}}"><i class="fa fa-bars"></i>&nbsp;Home</a></li>
                <li><a href="#/messages"><i class="fa fa-comments"></i></a></li>
                <li><a href="#/notifications"><i class="fa fa-globe"></i></a></li>
                <li><a ng-click="logout()" href="#/login" class="btn btn-simple">Logout</a></li>
                <li><a href="#" class="nav-controller"><i class="fa fa-user"></i>Users</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Timeline content -->
<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-10 no-paddin-xs">
            <div class="profile-nav col-md-4">
                <div class="panel">
                    <div class="user-heading round">
                        <a href="#">
                            <img src="img/Friends/guy-3.jpg" alt="">
                        </a>
                        <h1>Jonathan Smith</h1>
                        <p>jsmith@flatlab.com</p>
                    </div>

                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#/about/{{user._id}}"> <i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="#/profile/:userid"> <i class="fa fa-info-circle"></i> About</a></li>
                        <li><a href="#/friends"> <i class="fa fa-users"></i> Friends</a></li>
                        <li class="active"><a href="#/photos"> <i class="fa fa-file-image-o"></i> Photos</a></li>
                        <li><a href="#/edit-profile/:userid"> <i class="fa fa-edit"></i> Edit profile</a></li>
                    </ul>
                </div>
            </div>
            <div class="profile-info col-md-8">
                <!-- panel photos -->
                <div class="panel panel-danger panel-list-photos">
                    <div class="panel-heading">
                        <h3 class="panel-title">Photos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4 col-sm-6 col-xs-6 photo-content">
                            <img src="img/Photos/9.jpg" alt="photo 9" class="img-responsive  show-in-modal">
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 photo-content">
                            <img src="img/Photos/4.jpg" alt="photo 4" class="img-responsive show-in-modal">
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 photo-content">
                            <img src="img/Photos/8.jpg" alt="photo 8" class="img-responsive  show-in-modal">
                        </div>


                        <div class="col-md-4 col-sm-6 col-xs-6 photo-content">
                            <img src="img/Photos/7.jpg" alt="photo 7" class="img-responsive  show-in-modal">
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 photo-content">
                            <img src="img/Photos/6.jpg" alt="photo 6" class="img-responsive  show-in-modal">
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 photo-content">
                            <img src="img/Photos/2.jpg" alt="photo 2" class="img-responsive show-in-modal">
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 photo-content">
                            <img src="img/Photos/3.jpg" alt="photo 3" class="img-responsive show-in-modal">
                        </div>


                        <div class="col-md-4 col-sm-6 col-xs-6 photo-content">
                            <img src="img/Photos/5.jpg" alt="photo 5" class="img-responsive show-in-modal">
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 photo-content">
                            <img src="img/Photos/1.jpg" alt="photo 1" class="img-responsive show-in-modal">
                        </div>
                        <div class="col-md-12  post-load-more  text-center">
                            <button class="btn btn-danger">
                                <i class="fa fa-refresh"></i>Load More...
                            </button>
                        </div>
                    </div>
                </div><!-- end panel photos -->
            </div>
        </div>
    </div><!--End Timeline content -->

    <!-- Online users sidebar content-->
    <div class="chat-sidebar focus">
        <div class="list-group text-left">
            <p class="text-center visible-xs"><a href="#" class="hide-chat">Hide</a></p>
            <p class="text-center chat-title">Online users</p>
            <a href="messages.html" class="list-group-item">
                <i class="fa fa-check-circle connected-status"></i>
                <img src="img/Friends/guy-2.jpg" class="img-chat img-thumbnail">
                <span class="chat-user-name">Jeferh Smith</span>
            </a>
            <a href="messages.html" class="list-group-item">
                <i class="fa fa-times-circle absent-status"></i>
                <img src="img/Friends/woman-1.jpg" class="img-chat img-thumbnail">
                <span class="chat-user-name">Dapibus acatar</span>
            </a>
            <a href="messages.html" class="list-group-item">
                <i class="fa fa-check-circle connected-status"></i>
                <img src="img/Friends/guy-3.jpg" class="img-chat img-thumbnail">
                <span class="chat-user-name">Antony andrew lobghi</span>
            </a>
            <a href="messages.html" class="list-group-item">
                <i class="fa fa-check-circle connected-status"></i>
                <img src="img/Friends/woman-2.jpg" class="img-chat img-thumbnail">
                <span class="chat-user-name">Maria fernanda coronel</span>
            </a>
            <a href="messages.html" class="list-group-item">
                <i class="fa fa-check-circle connected-status"></i>
                <img src="img/Friends/guy-4.jpg" class="img-chat img-thumbnail">
                <span class="chat-user-name">Markton contz</span>
            </a>
            <a href="messages.html" class="list-group-item">
                <i class="fa fa-times-circle absent-status"></i>
                <img src="img/Friends/woman-3.jpg" class="img-chat img-thumbnail">
                <span class="chat-user-name">Martha creaw</span>
            </a>
            <a href="messages.html" class="list-group-item">
                <i class="fa fa-times-circle absent-status"></i>
                <img src="img/Friends/woman-8.jpg" class="img-chat img-thumbnail">
                <span class="chat-user-name">Yira Cartmen</span>
            </a>
            <a href="messages.html" class="list-group-item">
                <i class="fa fa-check-circle connected-status"></i>
                <img src="img/Friends/woman-4.jpg" class="img-chat img-thumbnail">
                <span class="chat-user-name">Jhoanath matew</span>
            </a>
            <a href="messages.html" class="list-group-item">
                <i class="fa fa-check-circle connected-status"></i>
                <img src="img/Friends/woman-5.jpg" class="img-chat img-thumbnail">
                <span class="chat-user-name">Ryanah Haywofd</span>
            </a>
            <a href="messages.html" class="list-group-item">
                <i class="fa fa-check-circle connected-status"></i>
                <img src="img/Friends/woman-9.jpg" class="img-chat img-thumbnail">
                <span class="chat-user-name">Linda palma</span>
            </a>
            <a href="messages.html" class="list-group-item">
                <i class="fa fa-check-circle connected-status"></i>
                <img src="img/Friends/woman-10.jpg" class="img-chat img-thumbnail">
                <span class="chat-user-name">Andrea ramos</span>
            </a>
            <a href="messages.html" class="list-group-item">
                <i class="fa fa-check-circle connected-status"></i>
                <img src="img/Friends/child-1.jpg" class="img-chat img-thumbnail">
                <span class="chat-user-name">Dora ty bluekl</span>
            </a>
        </div>
    </div><!-- Online users sidebar content-->

    <footer class="welcome-footer">
        <div class="container">
            <p>
            <div class="footer-links">
                <a href="#">Terms of Use</a> |
                <a href="#">Privacy Policy</a> |
                <a href="#">Developers</a> |
                <a href="#">Contact</a> |
                <a href="#">About</a>
            </div>
            Copyright &copy; Company - All rights reserved
            </p>
        </div>
    </footer>
</body>
</html>
