
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>PennBook</title>

</head>
<body class="animated fadeIn">

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-principal">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/timeline/{{user._id}}">
                <img src="images/Logo 2.png" class="img-logo">
                <b>PennBook</b>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <div class="col-md-5 col-sm-4">
                <form class="navbar-form">
                    <div class="form-group" style="display:inline;">

                    </div>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/about/{{user._id}}">
                        {{profileName}}
                        <img src="{{profilePicture}}" class="img-nav">
                    </a>
                </li>
                <li><a href="#/timeline/{{user._id}}"><i class="fa fa-bars"></i>&nbsp;Home</a></li>
                <li class="active"><a href="#/messages"><i class="fa fa-comments"></i></a></li>
                <li><a href="#/notifications"><i class="fa fa-globe"></i></a></li>
                <li><a ng-click="logout()" href="#/login" class="btn btn-simple">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Timeline content -->
<div class="container" style="margin-top:80px;">
    <div class="col-md-10 col-md-offset-1 no-paddin-xs">
        <div class="col-md-12">
            <!--  chat content -->
            <div class="row">
                <div class="col-md-4 bg-white ">
                    <!-- member list -->
                    <div class=" row border-bottom padding-sm" style="height: 40px;">

                    </div>
                    <ul class="friend-list">
                        <li class="active bounceInDown" ng-repeat="message in myMessages" ng-show="message.length != 0">
                            <a ng-click="loadMessage(message)" href="" class="clearfix">
                                <img ng-src={{message.photo}} alt="" class="img-circle">
                                <div class="friend-name">
                                    <strong>{{message.msg.username}}</strong>
                                </div>
                                <div class="last-message text-muted">{{message.msg.content}}</div>
                                <small class="time text-muted">{{message.msg.time}}</small>
                                <!--<small class="chat-alert label label-danger">1</small>-->
                            </a>
                        </li>
                    </ul><!-- end member list -->
                </div>

                <!-- selected chat content -->
                <div class="col-md-8 bg-white ">
                    <div class="chat-message">
                        <ul class="chat">
                            <li class="left clearfix"  ng-repeat="tempMessage in myTempMessages" ng-show="tempMessage.length != 0" >
                                <span class="chat-img pull-left">
                                  <img ng-src={{tempMessage.photo}} alt="User Avatar">
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{tempMessage.username}}</strong>
                                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> {{tempMessage.time}}</small>
                                    </div>
                                    <p>
                                        {{tempMessage.content}}
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel profile-info panel-danger">
                        <form>
                            <textarea ng-model="messageContent" id="replyContent" class="form-control input-lg p-text-area" rows="3" placeholder="Write a message..."></textarea>
                        </form>
                        <div class="panel-footer">
                            <button ng-click="updateMessage()" type="button" class="btn btn-danger pull-right">Send</button>
                            <ul class="nav nav-pills">
                                <li><a href=""><i class="fa fa-camera"></i></a></li>
                            </ul>
                        </div>
                    </div><!-- end add post form-->
                </div><!-- selected chat content -->
            </div><!-- end chat content -->
        </div>
    </div>
</div>



<footer class="welcome-footer">
    <div class="container">
        <p>
        <div class="footer-links">
            <a href="#">Terms of Use</a> |
            <a href="#">Privacy Policy</a> |
            <a href="#">Developers</a> |
            <a href="#">Contact</a> |
            <a href="#">About</a>
        </div>
        Copyright &copy; Company - All rights reserved
        </p>
    </div>
</footer>
</body>
</html>
