
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>PennBook</title>

</head>
<body class="animated fadeIn">

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-principal">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/timeline/{{user._id}}">
                <img src="images/Logo 2.png" class="img-logo">
                <b>PennBook</b>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <div class="col-md-5 col-sm-4">
                <form class="navbar-form">
                    <div class="form-group" style="display:inline;">

                    </div>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/about/{{user._id}}">
                        {{profileName}}
                        <img src="{{profilePicture}}" class="img-nav">
                    </a>
                </li>
                <li><a href="#/timeline/{{user._id}}"><i class="fa fa-bars"></i>&nbsp;Home</a></li>
                <li><a href="#/messages"><i class="fa fa-comments"></i></a></li>
                <li class="active"><a href="#/notifications"><i class="fa fa-globe"></i></a></li>
                <li><a ng-click="logout()" href="#/login" class="btn btn-simple">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Timeline content -->
<div class="container container-timeline" style="margin-top:100px;">
    <div class="col-md-10 no-paddin-xs">
        <div class="col-md-5 no-paddin-xs">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Notifications</h3>
                </div>
                <div class="panel-body">
                    <img src="{{profilePicture}}" class="home-avatar img-thumbnail" alt="user profile image">
                    <a href="#/about/{{user._id}}">{{profileName}}</a>
                </div>
            </div>
        </div><!-- end left content -->

        <!-- notification list-->
        <div class="col-md-7 no-paddin-xs">
            <div class="panel panel-white post panel-shadow" ng-repeat="notification in myNotifications"
                 ng-show="notification.length != 0">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img ng-src={{notification.photo}} class="avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="" class="post-user-name">{{notification.notification.initiatorUserName}}</a>
                            {{notification.notification.activity}}<a href={{notification.notification.elementLink}}>{{notification.notification.elementKind}}</a>
                        </div>
                        <h6 class="text-muted time">{{notification.notification.time}}</h6>
                    </div>
                </div>
            </div>
            <!--<div class="panel panel-white post-load-more panel-shadow text-center">-->
                <!--<button class="btn btn-danger">-->
                    <!--<i class="fa fa-refresh"></i>Load More...-->
                <!--</button>-->
            <!--</div>-->
        </div><!-- notification list-->
    </div>
</div>


<footer class="welcome-footer">
    <div class="container">
        <p>
        <div class="footer-links">
            <a href="#">Terms of Use</a> |
            <a href="#">Privacy Policy</a> |
            <a href="#">Developers</a> |
            <a href="#">Contact</a> |
            <a href="#">About</a>
        </div>
        Copyright &copy; Company - All rights reserved
        </p>
    </div>
</footer>
</body>
</html>
